*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  background: var(--body-color);
  padding-top: -95px;
  overflow-x: hidden;
}

.light {
  --body-color: #272935;
  --bg-img-dark: url('../images/sun-solid-w.png');
  --text-color: #f9f9fa;
  --placeholder-color: #fff;
  --border-light: #3f3b3b;
  --white: #fff;
  --black: #000;
  --bb: #0057ff;
  --bd-line-dashed: #464545;
  --inner-nav-color: #272935;
  --modal-bg-color: #272935;
  --icon-color: #fff;
  --logo: url('https://arun.gbjsolution.com/content/images/2021/12/dark-theme-logo.svg');
  --search-icon: url('../images/search-regular-1.png');
  --X-remove: url('../images/x-circle-regular-2.png');
  --icon-tw: url('../images/twitter-logo-1.png');
  --icon-f: url('../images/facebook-logo-1.png');
  --icon-git: url('../images/github-logo-1.png');
  --icon-ins: url('../images/instagram-logo-1.png');
  --icon-bottom: url('../images/chevron-down-regular-1.png');
  --tit-data-color: #b2b2b3;
}

:root {
  --body-colorr: #fff;
  --bg-color-item: #0057ff;
  --bg-colo-item-hover: #012293;
  --bg-color: #fff;
  --bb: #fff;
  --text-color: #161f38;
  --white: #fff;
  --black: #000;
  --bd-radius-1: 4px;
  --bd-radius-2: 8px;
  --bd-radius-3: 16px;
  --line-height: 32px;
  --border-light: #f0f0f0;
  --bd-line-dashed: #dadada;
  --inner-nav-color: #fff;
  --modal-bg-color: #fff;
  --icon-color: rgb(0, 0, 0);
  --tit-data-color: #575861;
  --input-border: #e6e6e6;
  --newsliter--liner-gra: linear-gradient(to bottom right, #0055ff, #053697);
  --footer--menu-tit-color: #b2b2b3;
}

.btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  border-radius: var(--bd-radius-1);
  height: 48px;
  line-height: 48px;
  border: none;
  background-color: var(--bg-color-item);
  color: var(--white);
  transition: all 250ms;
  outline: 0;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
  background: var(--bg-colo-item-hover);
  transition: all 250ms;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-light);
  background: var(--inner-nav-color);
  z-index: 10000;
}

.header__item {
  padding: 12px 0;
}

.site-nav {
  width: 950px;
}

.header__logo {
  width: 125px;
  height: 40px;
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__menu {
  width: 850px;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  width: 100%;
  color: var(--text-color);
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  transition: all 250ms;
}

.nav__linkk {
  height: 32px;
  width: auto;
  color: var(--white);
  font-size: 17px;
  line-height: var(--line-height);
}

.ho-bb::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  border-radius: var(--bd-radius-2);
  background: var(--text-color);
  transition: all 0.3s ease;
}

.ho-bb:hover::after {
  transition: all 0.3s ease;
  width: 20px;
}

.act-nav-ho::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  border-radius: var(--bd-radius-2);
  background: var(--bg-color-item);
  transition: all 250ms;
}

.btns__header {
  width: 80px;
}

.search__img {
  border: none;
  height: 32px;
  width: 25px;
  height: 25px;
  background: transparent;
  background-image: var(--search-icon);
  margin-right: 10px;
}

.header__btn {
  border: none;
  height: 32px;
  width: 25px;
  height: 25px;
  background: transparent;
  background-image: var(--bg-img-dark);
}

.ho-nav-lis {
  position: relative;
}

.more-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--icon-bottom);
  transition: all 250ms;
}

.mo-menu {
  list-style-type: none;
  position: absolute;
  top: 110%;
  left: -1rem;
  background: var(--inner-nav-color);
  border: 1px solid var(--border-light);
  border-radius: var(--bd-radius-2);
  padding: 12px 20px;
  width: 250px;
  height: auto;
  transition: all 250ms;
  opacity: 0;
  display: none;
  z-index: 1000;
}

.mo-list {
  padding: 7px;
}

.mo-link {
  text-decoration: none;
  display: inline-flex;
  width: 100%;
  color: var(--text-color);
  margin-top: 4px;
  margin-bottom: 4px;
}

.mo-list::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  border-radius: var(--bd-radius-2);
  background: var(--text-color);
  transition: all 0.3s ease;
}

.mo-list:hover::after {
  transition: all 0.3s ease;
  width: 20px;
}

.ho-nav-lis:hover .mo-menu {
  top: 100%;
  opacity: 1;
  display: block;
}

.main__inner {
  margin-bottom: 100px;
}

.heo__box {
  padding-top: 95px;
}

.hero__item {
  padding: 220px 0;
}

.item__tit_text-in {
  width: 650px;
}

.hero__title {
  font-size: 80px;
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 30px;
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 30px;
}

.inp {
  background: var(--body-color);
  border: 1px solid var(--border-light);
  box-shadow: none;
  height: 48px;
  width: 310px;
  padding: 0 1rem;
  margin-bottom: 16px;
  color: var(--text-color);
  border-radius: var(--bd-radius-1);
  margin-bottom: 20px;
}

.icons__title {
  margin-right: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

.icons__menu {
  list-style-type: none;
}

.icons__list {
  margin-right: 10px;
  cursor: pointer;
}

.iscon__link-1 {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--icon-tw);
  cursor: pointer;
}

.iscon__link-2 {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent;
  background-image: var(--icon-f);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.iscon__link-3 {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent;
  background-image: var(--icon-git);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.iscon__link-4 {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent;
  background-image: var(--icon-ins);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.img-person {
  position: relative;
}

.b-line-1 {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-85%, -50%);
  width: 550px;
  height: 550px;
  border: 1px dashed var(--bd-line-dashed);
  border-radius: 50%;
  animation: b-line-boll 1250s infinite;
  z-index: 20;
}

.b-line-2 {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-78%, -50%);
  width: 680px;
  height: 680px;
  border: 1px dashed var(--bd-line-dashed);
  border-radius: 50%;
}

.b-line-boll-1 {
  position: absolute;
  left: 30px;
  transform: translate(0%, 0%) rotate(0deg);
  width: 40px;
  height: 40px;
  background: rgb(158, 34, 34);
  box-shadow: 0px 0px 10px 0px rgb(175, 109, 109);
  border-radius: 50%;
  z-index: 25;
}

.b-line-boll-2 {
  position: absolute;
  top: 30px;
  left: 410px;
  transform: translate(0%, 0%) rotate(0deg);
  width: 30px;
  height: 30px;
  background: rgb(101, 192, 228);
  box-shadow: 0px 0px 10px 0px rgb(169, 213, 253);
  border-radius: 50%;
  z-index: 25;
}

.b-line-boll-3 {
  position: absolute;
  top: 460px;
  left: 530px;
  transform: translate(0%, 0%) rotate(0deg);
  width: 35px;
  height: 35px;
  background: rgb(250, 54, 217);
  box-shadow: 0px 0px 10px 0px rgb(216, 176, 243);
  border-radius: 50%;
  z-index: 25;
}

.b-line-boll-4 {
  position: absolute;
  top: 525px;
  left: 210px;
  transform: translate(0%, 0%) rotate(0deg);
  width: 40px;
  height: 40px;
  background: rgb(226, 27, 27);
  box-shadow: 0px 0px 10px 0px rgb(206, 106, 106);
  border-radius: 50%;
  z-index: 25;
}

.b-line-boll-5 {
  position: absolute;
  top: 345px;
  left: 0px;
  transform: translate(0%, 0%) rotate(0deg);
  width: 30px;
  height: 30px;
  background: rgb(215, 247, 37);
  box-shadow: 0px 0px 10px 0px rgb(243, 223, 157);
  border-radius: 50%;
  z-index: 25;
}

@keyframes b-line-boll {
  0% {
    transform: translate(-85%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-85%, -50%) rotate(2200deg);
  }
}

.person-img {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  border-radius: 50%;
  object-fit: cover;
}

.modal__box {
  position: fixed;
  top: 7%;
  left: 0%;
  width: 100%;
  height: 100vh;
  border-radius: var(--bd-radius-2);
  background: var(--modal-bg-color);
  color: var(--text-color);
  transition: all 0.7s ease;
  display: none;
  opacity: 0;
  z-index: 1000;
}

.modal__item {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 680px;
  height: 600px;
  padding: 20px;
}

.show {
  transition: all 0.7s ease;
  display: block;
  opacity: 1;
}

.modal--in {
  margin-left: 15px;
  background: var(--body-color);
  border: 1px solid var(--border-light);
  box-shadow: none;
  height: 48px;
  width: 610px;
  padding: 0 1rem;
  margin-bottom: 16px;
  color: var(--text-color);
  border-radius: var(--bd-radius-1);
  margin-bottom: 20px;
}

.modal--in-tit {
  margin: -1rem 1.25rem 1rem;
  text-align: right;
  font-size: .75rem;
  color: var(--text-color);
  margin-left: 450px;
}

.search__poisk-tit {
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.search__poisk {
  padding: 50px 0;
  padding-left: 20px;
}

.tit__text_link {
  background: #9D6805;
  margin: 0 8px 12px 0;
  display: inline-flex;
  font-size: .875rem;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  padding: 0 16px;
  border-radius: 14px;
  color: #fff;
  margin: 0 8px 8px 0;
  opacity: .9;
  text-decoration: none;
}

.tit__text_link:nth-child(2) {
  background: var(--bg-color-item);
}

.tit__text_link:nth-child(3) {
  background: var(--bg-color-item);
}

.tit__text_link:nth-child(4) {
  background: #E10689;
}

.tit__text_link:nth-child(5) {
  background: #B43ADF;
}

.tit__text_link:nth-child(6) {
  background: #2D841F;
}

.m-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--X-remove);
  border: none;
}

.btn-modal {
  transition: all 1s ease;
  border: none;
}

.tit__text-box {
  width: 670px;
}

.container-featured {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.img__title {
  font-size: 30px;
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 25px;
}

.img__title::after {
  content: '';
  display: block;
  width: 222px;
  height: 5px;
  background: var(--bg-color-item);
  border-radius: var(--bd-radius-1);
}

.img-featured {
  width: 250px;
  object-fit: cover;
  border-radius: var(--bd-radius-2);
  margin-bottom: 50px;
}

.tit__text-box {
  margin-bottom: 70px;
  margin-left: 30px;
}

.tit__title {
  display: block;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  font-size: 40px;
  color: var(--text-color);
  transition: all 250ms;
  margin-bottom: 20px;
}

.tit__title:hover {
  transition: all 250ms;
  text-decoration: underline;
}

.tit__text {
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.lif-btn {
  background: var(--bg-color-item);
  margin-bottom: 15px;
}

.tit__time-data {
  font-size: 18px;
  color: var(--tit-data-color);
}

.bxs-star {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 32px;
}

.subscribe {
  width: 100%;
  padding: 24px;
  background:var(--newsliter--liner-gra);
  border-radius: var(--bd-radius-2);
  position: relative;
  overflow: hidden;
  margin-bottom: 65px;
}

.subscribe::before {
  content: "";
  display: inline-block;
  width: 24rem;
  height: 24rem;
  position: absolute;
  top: -210px;
  left: -60px;
  border-radius: 50%;
  border: 5rem solid rgba(0, 0, 0, .06);
  z-index: 0;
}

.sub__title__text-box {
  width: 400px;
}

.sub__title {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.sub__text {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
}

.sub__link {
  margin-top: 16px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: all 250ms;
}

.sub__link:hover {
  width: 250px;
  text-decoration: underline;
  transition: all 250ms;
}

.now__item {
  width: 225px;
  height: 235px;
  padding: 20px;
  text-align: center;
  background: #fff;
  border-radius: var(--bd-radius-2);
  margin-right: 16px;
}

.now__tit {
  font-size: 20px;
  color: var(--bg-color-item);
  margin-bottom: 8px;
}

.now__mony {
  margin-left: 50px;
}

.n-m {
  margin-left: 60px;
  margin-bottom: 45px;
}

.bold-now {
  /* margin: 0 auto; */
  font-size: 60px;
  margin-bottom: 8px;
}

.now__discout {
  display: block;
  width: 110px;
  height: 28px;
  margin: 0 auto;
  padding: 0 8px;
  border-radius: var(--bd-radius-3);
  background: #96EA8C;
  margin-bottom: 16px;
}

.posts-btn {
  margin: 0 auto;
}

.newsliter__item {
  margin-top: 64px;
  width: 100%;
  height: 480px;
  padding: 64px 24px;
  text-align: center;
  background: var(--newsliter--liner-gra);
  border-radius: var(--bd-radius-2);
  position: relative;
  overflow: hidden;
}

.newsliter__item::before {
  content: "";
  display: inline-block;
  width: 24rem;
  height: 24rem;
  position: absolute;
  top: -210px;
  left: -60px;
  border-radius: 50%;
  border: 5rem solid rgba(0, 0, 0, .06);
  z-index: 0;
}

.newslite-icon-img {
  margin-top: -10px;
}

.newsliter__title {
  margin-top: 50px;
  font-size: 60px;
  color: var(--white);
  margin-bottom: 20px;
}

.newsliter__text {
  font-size: 25px;
  color: var(--white);
}

.newsliter__input {
  width: 780px;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 16px;
  background: var(--white);
  border-radius: var(--bd-radius-2);
}

.newsliter-inp {
  width: 280px;
  height: 50px;
  padding: 0 20px;
  margin-right: 12px;
  border-radius: var(--bd-radius-1);
  border: 1px solid var(--input-border);
}


.footer__innr {
  border-top: 1px solid var(--border-light);
}

.footer__item {
  position: relative;
  padding-top: 60px;
}

.footer__logo-text {
  width: 360px;
}

.footer__logo {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 125px;
  height: 40px;
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__text {
  margin-top: 80px;
  font-size: 20px;
  color: var(--text-color);
}

.footer__menu {
  list-style-type: none;
}

.footer__menus__title {
  font-size: 18px;
  color: var(--footer--menu-tit-color);
  margin-bottom: 20px;
}

.footer__list {
  margin-bottom: 15px;
}

.footer__link {
  font-size: 20px;
  color: var(--text-color);
  text-decoration: none;
}

.footer__link:hover {
  color: #0055ff;
}

.footer__icons__data {
  margin-top: 50px;
  padding-bottom: 50px;
}

.footer__tit {
  font-size: 18px;
  color: var(--text-color);
}